<a href="https://colab.research.google.com/github/MariRubim/Programa-oFuncional/blob/main/Aula01Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# operadores 
print(2+3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(10%3)

# potência 
print(2 ** 8)

# parte inteira da divisão
print(10 // 3)
print(81 ** 0.5)
print(81 ** (1/2))

5
-3
10.6
3.1333333333333333
1
256
3
9.0
9.0

In [ ]:
a = 2
print(type(a))

a = True
print(type(a))

a = 'andre'
print(type(a))

a = None
print(type(a))

a = 0
print(type(a))

a = ''
print(type(a))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'NoneType'>
<class 'int'>
<class 'str'>

# **Tipo** **String**

In [ ]:
dir(str)

nome = 'André Insardi'
nome

nome[0] ##retornará A de "André"
nome[3] ##retornará r de "André"

print("André Insardi" == 'André Insardi')

texto = 'Texto entre apostrófes pode ter "aspas"'
print(texto)

doc = """textos com multiplas
linhas..."""

print(doc)

True
Texto entre apostrófes pode ter "aspas"
textos com multiplas
linhas...

QUANDO:
 você não usa "__" underline 2x a classe não está instanciada, é programação normal~

 String se comporta como uma lista, você pode acessar qualquer elemento da sua variável a partir do índice (sempre iniciado por 0)

 O python não se importa com aspas duplas ou sozinha, pra ele é a mesma coisa

In [ ]:
nome = 'Um nome qualquer'

nome[0]
nome[6]
nome[-3]
nome[4:] #não conta os 4 primeiros e vai até o final da string
nome[-5:] #seleciona as últimas 5
nome[:4] #pega as 4 primeiras, o intervalo é sempre bolinha aberta, então não seleciona o último elemento. O primeiro número está contido e o último não
nome[2:5]

numero = '1234567890'
numero[::] #imprime todos os números
numero[::2] #imprime todos os números pulando de dois em dois
numero[::3] #imprime todos os números pulando de três em três
numero[::-1] #imprime todos os números de trás pra frente
numero[3::2] #começa a imprimir no terceiro elemento e depois vai pulando de dois em dois

'4680'

## Listas

In [ ]:
lista = []
type(lista)

len(lista)

lista.append(1)
lista.append(5)
lista

lista[0]
len(lista)
#len significa lenth
#na lista do python você tem tipagem dinâmica, então o tipo da variável é determinado por cada célula

nova_lista = [1, 5, 'Ana', 'Bia', ['C#', 'Python', 'Node'], 3.14]
print(nova_lista)
print(nova_lista[3])
print(nova_lista[4])
print(nova_lista[4][1])
print(nova_lista[4][1][3])

print(nova_lista)
nova_lista.remove(5) #você apaga o elemento 5, se utilizasse colchete apagaria o índice 5
print(nova_lista)
nova_lista.reverse() #coloca a lista ao contrário
print(nova_lista)
del nova_lista[2]
print(nova_lista)

[1, 5, 'Ana', 'Bia', ['C#', 'Python', 'Node'], 3.14]
Bia
['C#', 'Python', 'Node']
Python
h
[1, 5, 'Ana', 'Bia', ['C#', 'Python', 'Node'], 3.14]
[1, 'Ana', 'Bia', ['C#', 'Python', 'Node'], 3.14]
[3.14, ['C#', 'Python', 'Node'], 'Bia', 'Ana', 1]
[3.14, ['C#', 'Python', 'Node'], 'Ana', 1]

## Exemplo de lista1

In [ ]:
lista = [1, 5, 'Raquel', 'Guilherme', 3.1415, 'Guilherme']
print(lista.index(5)) #retorna o indíce do elemento
print(lista.index('Raquel'))
print(lista.index('Guilherme')) #retornará o primeiro Guilherme da lista

'Andre' in lista #pesquisar se esse elemento está na lista
'Raquel' in lista 

lista.append('Andre')  #append é usado para adicionar um elemento no final (só adiciona um elemento por vez)
print(lista)
lista.insert(2, 'Ana') #insert é para adicionar no começo da lista (só adiciona um elemento por vez, então adicionará a Ana no indíce 2)
print(lista)
lista.insert(2, ['Metalica', 'Led', 'Ozy'])
print(lista)

1
2
3
[1, 5, 'Raquel', 'Guilherme', 3.1415, 'Guilherme', 'Andre']
[1, 5, 'Ana', 'Raquel', 'Guilherme', 3.1415, 'Guilherme', 'Andre']
[1, 5, ['Metalica', 'Led', 'Ozy'], 'Ana', 'Raquel', 'Guilherme', 3.1415, 'Guilherme', 'Andre']

## Exemplo de lista2

In [ ]:
lista = ['Ana', 'Aline', 'Guilherme', 'Andre', 'Dani']
print(lista[1:3])
print(lista[1:-1])
print(lista[1:])

['Aline', 'Guilherme']
['Aline', 'Guilherme', 'Andre']
['Aline', 'Guilherme', 'Andre', 'Dani']

# Tupla

In [ ]:
tupla = ()
type(tupla)

cores = ('verde', 'amarelo', 'azul', 'branco')
print(cores)
print(cores[0])
print(cores[-1])
print(cores[1:])
print(cores[-1:])

#convertendo uma tupla em uma lista

cores_list = list(cores)
print(cores) #tupla
print(cores_list) #lista

('verde', 'amarelo', 'azul', 'branco')
verde
branco
('amarelo', 'azul', 'branco')
('branco',)
('verde', 'amarelo', 'azul', 'branco')
['verde', 'amarelo', 'azul', 'branco']

# Dicionário

In [ ]:
pessoa = {}
print(type(pessoa))

pessoa = {'nome': 'Andre', 'idade': 35, 'altura': 1.83}
print(pessoa)
print(pessoa['idade'])


pessoa = {'nome': 'Andre', 'idade': 35, 'altura': 1.83, 'cursos': ['C#', 'Node', 'React', 'Python']}
print(pessoa)
print(pessoa['altura'])
print(pessoa['cursos'])
print(pessoa['cursos'][2])

print(pessoa.keys()) #imprimir as chaves
print(pessoa.values()) # imprmir os valores
print(pessoa.items()) # imprimir os itens
items = list(pessoa.items())
print(items)
print(type(items))
print(items[3])
print(type(items[3]))
print(items[3][0])
print(type(items[3][0]))
print(items[3][1])
print(type(items[3][1]))
print(items[3][1][2])
print(type(items[3][1][2]))
print(items[3][1][2][4])
print(type(items[3][1][2][4]))

<class 'dict'>
{'nome': 'Andre', 'idade': 35, 'altura': 1.83}
35
{'nome': 'Andre', 'idade': 35, 'altura': 1.83, 'cursos': ['C#', 'Node', 'React', 'Python']}
1.83
['C#', 'Node', 'React', 'Python']
React
dict_keys(['nome', 'idade', 'altura', 'cursos'])
dict_values(['Andre', 35, 1.83, ['C#', 'Node', 'React', 'Python']])
dict_items([('nome', 'Andre'), ('idade', 35), ('altura', 1.83), ('cursos', ['C#', 'Node', 'React', 'Python'])])
[('nome', 'Andre'), ('idade', 35), ('altura', 1.83), ('cursos', ['C#', 'Node', 'React', 'Python'])]
<class 'list'>
('cursos', ['C#', 'Node', 'React', 'Python'])
<class 'tuple'>
cursos
<class 'str'>
['C#', 'Node', 'React', 'Python']
<class 'list'>
React
<class 'str'>
t
<class 'str'>

In [ ]:
lista_pessoas = [{'nome': 'Andre', 'idade': 35, 'altura': 1.83},{'nome': 'Ana', 'idade': 22, 'altura': 1.57}, {'nome': 'João', 'idade': 39, 'altura': 1.78}, {'nome': 'Bia', 'idade': 27, 'altura': 1.63}]
print(lista_pessoas[2])
print(lista_pessoas[2]['idade'])

#Dicionário dentro de listas

pessoa1 = {'nome': 'Andre', 'idade': 35, 'altura': 1.83}
pessoa1.update({'idade': 34, 'genero':'M'})
print(pessoa1)

{'nome': 'João', 'idade': 39, 'altura': 1.78}
39
{'nome': 'Andre', 'idade': 34, 'altura': 1.83, 'genero': 'M'}

# Input

In [ ]:
a = int(input('Digite o valor: '))
print(a)
type(a)

Digite o valor: 6
6

int

# Estrtura de condição IF

In [ ]:
a = int(input('Digite o valor: '))
b = int(input('Digite o valor: '))
c = int(input('Digite o valor: '))

resultado = 0 

#se a > b E a > c então 
  #resultado = a
#senão, se b > a E b > c então 
  #resultado = b
#senão, se c > a E c > b então 
  #resultado = c

if a > b and a > c:
  resultado = a
elif b > c and b > a:
  resultado = b
else:
  resultado = c

print(resultado)

Digite o valor: 3
Digite o valor: 5
Digite o valor: 9
9

# Loops de Repetição

In [ ]:
a = 10

while a > 0:
  print(a)
  a = a - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
for x in range(1,11):
  for y in range(1,11):
    print(f' {x} * {y} = {x * y}')

    #f significa que o código será formatado, sem o f é puramente uma strinf, com o f significa que você está pegando uma linha de código e a formatando
    #a chave busca o valor da variável dentro do programa

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10
 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20
 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60
 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80
 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81
 9 * 10 = 90
 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100

# Tudo junto

In [ ]:
dias_semana = ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']

for dia in dias_semana:
  print(f' Hoje é {dias_semana} ')

 Hoje é ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
 Hoje é ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
 Hoje é ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
 Hoje é ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
 Hoje é ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
 Hoje é ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
 Hoje é ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']

In [ ]:
lista_pessoas = [{'id':1, 'nome': 'Andre', 'idade':30, 'altura':1.83, 'cursos':['C#', 'Python', 'Node']}, 
                  {'id':2, 'nome': 'Ana', 'idade':25, 'altura':1.6, 'cursos':['C#', 'Python', 'Node', 'C++']}, 
                  {'id':3, 'nome': 'Bia', 'idade':23, 'altura':1.7, 'cursos':['Python', 'Node']}, 
                  {'id':4, 'nome': 'Guilherme', 'idade':34, 'altura':1.8, 'cursos':['C#', 'Java', 'React']}]

for pessoa in lista_pessoas: #atribuindo a variável pessoa a cada linha de dicionário
  for curso in pessoa['cursos']:
    nome = pessoa['nome']
    print(f' A pessoa {nome} faz o {curso}')


#cada elemento da lista ele entende como um dicionário e dentro de cada dicionário tem uma lista

 A pessoa Andre faz o C#
 A pessoa Andre faz o Python
 A pessoa Andre faz o Node
 A pessoa Ana faz o C#
 A pessoa Ana faz o Python
 A pessoa Ana faz o Node
 A pessoa Ana faz o C++
 A pessoa Bia faz o Python
 A pessoa Bia faz o Node
 A pessoa Guilherme faz o C#
 A pessoa Guilherme faz o Java
 A pessoa Guilherme faz o React